Checks: 'modernize-*,readability-*,performance-*,bugprone-*,-bugprone-unused-raii,-readability-magic-numbers,-readability-named-parameter,-readability-static-accessed-through-instance,-readability-identifier-length'
