If:
  PathMatch: .*\.cu
CompileFlags:
  Add:
    - --cuda-gpu-arch=sm_86
    - -std=c++17
    - -xcuda
    #- -I $CUDA_PATH/include/
  Remove:
    - -forward-unknown-to-host-compiler
    - --generate-code*
    - -rdc=*
    - -Xcompiler*

---

If:
  PathMatch: [.*\.h .*\.cpp]
Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
---

CompileFlags:
  CompilationDatabase: build/
Diagnostics:
  ClangTidy:
    Add: 
      - modernize-*
      - readability-*
      - performance-*
      - bugprone-*
    Remove:
      - bugprone-unused-raii
      - readability-magic-numbers
      - readability-identifier-length
      - modernize-use-nodiscard
